# Virtual Environment
venv/
.venv/
env/
ENV/

# OS Files
.DS_Store
Thumbs.db

# Python Build & Distribution
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/

# Env Files
.env
.env.local
.env.*.local
